<header>
    <div class="wrapper">
        <div class="logo">
            <img src="/assets/kisspng-weather-computer-icons-weather-5ad204f41ba772.4298522015237132681133.jpg" alt="">
        </div>
        <ul class="nav-area">
            <li><button class="btn" (click)="redirectToLogin()">Login</button></li>
            <li><button class="btn" (click)="redirectToSignup()">Signup</button></li>
            
            </ul>
        <form class="row domain-search bg-pblue">
        <div class="container">
            <div class="row">              
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="search" class="form-control">
                        <span class="input-group-addon"><input type="submit" value="Search" class="btn btn-primary"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>
<div class="welcome-text">
        <h1>
We are creative</h1>
<a href="#">Contact US</a>
    </div>
</header>
